.input {
    padding-bottom: 10px;
}

.input input{
    border: 1px solid #00e4ba;
    background: none; 
    padding: 5px;
    color: white; 
}

.searchButton {
    cursor: pointer;
    padding: 5px;
    background: none;
    color: white;
    border: 1px solid #00e4ba;
}

.buttonContainer {
    padding-bottom: 10px;
}

.container {
    padding-top: 10px;
}