body {
    width: 100%;
    background-color: rgb(0, 15, 26);
}

.card {
    display: inline-block;
    margin: 10px;
    width: 350px;
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: rgb(0, 15, 26, 0.486); 
    transition: 0.3s;
    cursor: pointer;
    color: white; 
    border: none;
    transition: 0.3s;
    
}

.imgContainer {
    width: 100%;
}

@media (max-width: 600px) {
    .card {
      width: 300px; 
    }
  }



.btnVolver{
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 1px solid #00e4ba;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;

}

button:hover{
    background-color: #00e4ba18;
}

.containerBtn {
    padding-bottom: 10px;
}

.card_details img {
    height: 250px;
    width: 350px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 600px){
    .card_details img{
        width: 300px; 
        border-radius: 10px;
    }
  }


.nameActivity{
    text-decoration: 1px solid underline #00e4ba;
}  

.activityBorder{
    border: 1px solid white;
    border-radius: 10px;
    
}